.grid {
    display: grid;
    color: white;
    background-color: antiquewhite;
    gap: 5px;
    height: 250vh;
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: repeat(4, 100px);
    place-content: end center;
}

.header {
    background-color: teal;
}

.content {
    background-color: green;
}

.nav{
    background-color: greenyellow;
}

.footer{
    background-color: goldenrod;
}


